.gray {
    background-color: #eee;
}

.cart .row {
    padding: 0.5em;
    margin-bottom: 0.5em;
}

.line {
    border-bottom: 1px solid #eee;
    padding: 0;
    margin-bottom: 1em;
}

.no-margin {
    margin: 0 !important;
}

.checkout {
    background-color: #ff8100;
    border: 0;
    padding: 0.8em;
    width: 100%;
    color: white;
}

.product-image {
    width: 100%;
}

b {
    font-size: 1.2em;
}
